body {
    background-color: #010341;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navtext {
    background-color: #050857;
}
nav.navbar > a, #nav-home, #nav-subs, .nav-item > a, #LinkButton6b, #LinkButton11b, .navbar-brand {
    color: ghostwhite;
    &:hover{
            color: #bbc2cc;
        }
}

.footer {
    bottom: 0;
    width: 100%;
    background: #e5d99f;
}

.footerlinks {
    color: white;
    text-decoration: none !important;
    &:hover{
               color: #dde0e4;
           }
}


#footer1 {
    background: #3538a7;
}

#footer2 {
    background: #252ad0;
}



/*homepage*/

header {
    background-color: #e4f1ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-container img {
    width: 950px;
    height: 90vh;
}

.vl {
    border-left: 0.5px solid black;
    height: 500px;
}
#crud-title {
    font-size: 48px;
    font-weight: bold;
}

#crud-description {
    font-size: 24px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.content-container,
.image-container {
    flex: 1;
    padding: 20px;
}

.content-container h2 {
    font-size: 66px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFD700;
    
}
.content-container p {
    color: #FFA07A;
    font-size: 36px;
    font
}

.cta-container {
    text-align: center;
    padding: 50px;
    padding-left: 125px; 
}

.cta-container h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: whitesmoke;
}

.cta-button {
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    background-color: #ff3e6c;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ed004e;
    &:hover{
               cursor: pointer;
           }
}

/*login page*/
.card {
    background-color: #8adcff;
    padding: 20px;
}
.btn {
    background-color: #8adcff;
    border-color: darkgrey;
    color: black;
    &:hover{
    background-color: #363bce;
    color: white;
    }
}


/*User Home Page*/
/* Basic styling for the header strip */
.header-user-hp {
    background-color: rgba(198, 203, 239,0.55);
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Styling for the "Welcome" section on the left */
.welcome-section {
    font-size: 40px;
    font-weight:500;
    display: flex;
    align-items: center;
}

/* Styling for the user name on the left */
.custom-link-button {
    color: #a3edff !important;
    text-decoration: none !important;
}
#joinButton:hover, #createBoardButton:hover, #logoutButton:hover, #create_board_button:hover #join_board_button:hover {
    color: blue;
}
.custom-link-user-jump-buttons{
    background-color: #d3b754 !important;
    color: blue !important;
    text-decoration: none !important;
}

#user-name {
    margin-left: 10px; 
}

/* Styling for the button section on the right */
.button-section-header {
    display: flex;
    text-align: right;
    margin-right: 10px;
    background-color: red;
}

#btn-header1, #btn-header2, #btn-header3 {
    margin-left: 10px;
    font-size: 20px;
    background-color: #d3b754;
    padding: 10px;
    height: 50px;
}



/*Userhome page - Board Containers*/
.active-boards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.board-item {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.board-thumbnail {
    height: 100px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.board-item h2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

.board-item p {
    font-size: 14px;
    color: #666;
    margin: 0;
}
/*The board display*/
/* User homepage Board display */
.outer-container {
    width: 85%; /* Adjust the width as per your requirement */
    background-color: #48759c;
    border-radius: 10px;
    padding: 20px;
}

.board-item-template {
    margin-bottom: 20px;
    position: relative;
}

.individual-covering {
    background-color: #9bb5cc;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    height: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.individual-covering:hover {
    box-shadow: 0 2px 5px rgba(1, 1, 1, 1);
}

.circle-board {
    width: 300px;
    height: 300px;
    background-color: #a3edff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-board:hover {
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}

.board-name {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.board-name:hover {
    color: cornflowerblue;
}

.message-section,
.notification-section {
    font-size: medium;
}
.leave-board-btn {
    position: absolute;
    top: 7px;
    right: 20px;
    font-size: 40px;
    font-weight: 400;
    color: black;
    cursor: pointer;
}

.leave-board-btn:hover {
    color: red;
}

/*Leave - Board Pop up*/
.leaveBoard-statement-heading{
    font-size: 40px;
}
#_boardname_{
    color: black;
}
#leaveBoard-statement-content{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 30px;
}
.button-container-uh{
    padding-top: 80px;
}
#cancelBtn, .leaveBtn-button {
    font-size: 20px;
    background-color: #d3b754;
    opacity: 0.8;
    &:hover{
        opacity: 1;
        color: white;
    }
}
/*Join board*/
.joinboard-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
}

.form-container {
   
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 1);
    padding: 20px;
    width: 400px;
    color: white;
   
}

.form-row {
    display: flex;
    align-items: center;
    margin:30px 10px;
}

.label {
    flex: 0 0 100px;
    font-weight: bold;
    padding-right: 10px;
    
}

.input-field {
    flex: 1;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.join-button {
    width: 40%;
    height: 40px;
    background-color: #d9c468;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


/*Board Page*/
.header-board-hp {
    background-color: rgba(198, 203, 239,0.55);
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header-left {
    flex: 1;
    padding-left: 10px;
}

.header-center {
    flex: 1;
    text-align: center;
}

.header-right {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

.board-id {
    font-size: 30px;
    font-weight: bold;
}

.add-statement-button, .edit-statement-button {
    background-color: #d3b754;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    &:hover{
               color: dodgerblue;
           }
}
.fa-circle-left:hover{
   color: cornflowerblue; 
}
/*Display of the statements.*/
.statement-container {
    background-color: transparent;
    padding: 5px;
    margin: 20px;
}
.Internal-statement-container {
    justify-content: center;
}

.statement {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: fit-content;

}

.statement-by {
    background-color: #8dcfd2;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    text-align: center;
    margin: 0 10px;
}

.timestamp {
    margin-top: 10px;
    text-align: center;
}

.statement-link {
    text-decoration: none;
    color: #000;
}
.updated-by {
    background-color: lawngreen;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    text-align: center;
    margin: 0 10px;
}
.updated-by:hover{
    color: lightcyan;  
    cursor: pointer;
}

.fa-trash-can:hover, .fa-pen-to-square:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.image-container {
    display: inline-block;
}


.no-statements-container {
    background-color: #a8e6cf;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

/*Add Statement*/
/* Add Statement Popup Styles */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.popup-content {
    width: 600px; 
    height: 550px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1976D2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFFFF;
    font-size: 50x;
    cursor: pointer;
    
}
.close-popup:hover {
    color: orangered;
}
.add-statement-heading, .edit-statement-heading {
    margin-top: 0;
}

.add-statement-label, .edit-statement-label {
    display: block;
    text-align: left;
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: bold;
}

.add-statement-input, .edit-statement-input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
#statementInput, #editStatementInput {
    height: 100px;
}
#descriptionInput, #editDescriptionInput {
    height: 200px;
}
#addButton, #editButton {
    margin-top: 30px;
}


/*Delete conformation POP up*/
.popup-heading, .statement-description-heading, .update-history-heading {
    color: black;
}
.statement-text {
    font-size: 25px;
    color: white;
}
.button-container {
    position: fixed;
    bottom: 0;
    width: 92%;
    padding-bottom: 40px;

}
.delete-yes-button, .delete-no-button, .close-button {
    background-color: burlywood;
}
    .delete-yes-button:hover, .delete-no-button:hover, .close-button:hover {
        color: blue;
    }

